<server description="Intro Servlet and related tech Guide Liberty server">

    <featureManager>
        <feature>servlet-5.0</feature>

        <!-- needed to run JSP examples -->
        <feature>pages-3.0</feature>

        <!-- needed to make JDBC calls -->
        <feature>jdbc-4.3</feature>

        <!-- for TLS -->
        <feature>transportSecurity-1.0</feature>
    </featureManager>

    <!-- from what i read online, this setting is needed in order to see the generated servlet java code for the jsp file -->
    <jspEngine keepGenerated ="true"/>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" host="*" />

    <variable name="port" value="9084"/>

    <webApplication location="ServletExperiments.war" contextRoot="${app.context.root}">
        <appProperties>
            <property name="port" value="9080"/>
        </appProperties>
    </webApplication>

    <library id="jdbcLib">
        <fileset dir="jdbc" includes="*.jar"/>
    </library>

    <!-- for TLS Liberty server HTTPS port: [ 9443 ] so you need to use this one for https-->
    <keyStore id="defaultKeyStore" password="yourPassword"/>
</server>