<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Liberty Project</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>EmailListServlet</servlet-name>
        <servlet-class>com.testehan.openliberty.servlet.chpt2.registerEmail.EmailListServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageVisitsInSession</servlet-name>
        <servlet-class>com.testehan.openliberty.servlet.chpt7.session.PageVisitsInSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageVisitsInCookieServlet</servlet-name>
        <servlet-class>com.testehan.openliberty.servlet.chpt7.cookie.PageVisitsInCookieServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SqlGatewayServlet</servlet-name>
        <servlet-class>com.testehan.openliberty.servlet.chpt12.SqlGatewayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailServlet</servlet-name>
        <servlet-class>com.testehan.openliberty.servlet.chpt14.SendEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.testehan.openliberty.servlet.chpt16.AdminServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EmailListServlet</servlet-name>
        <url-pattern>/emailList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageVisitsInSession</servlet-name>
        <url-pattern>/pagevisitsinsession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageVisitsInCookieServlet</servlet-name>
        <url-pattern>/pagevisitsincookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SqlGatewayServlet</servlet-name>
        <url-pattern>/jsp/sqlGateway</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailServlet</servlet-name>
        <url-pattern>/sendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>


    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error_404.jsp</location>
    </error-page>

    <!--
    When you’re developing an application, you
    probably won’t want to implement custom error pages. That way, when an error
    occurs, Tomcat displays an error page that you can use to debug the error. Before
    you deploy an application, though, you may want to implement custom error
    pages that present errors in a user-friendly way that’s consistent with the rest of
    your application.
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/jsp/error_java.jsp</location>
    </error-page>

    -->

    <context-param>
        <param-name>specialEmail</param-name>
        <param-value>dan@yahoo.com</param-value>
    </context-param>

    <!-- SECURITY ROLES -->
    <security-role>
        <role-name>admin</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AdminViewProperties</web-resource-name>
            <url-pattern>/admin</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>